.margin {
  width: 1090px;
  margin: 0 auto; }

* {
  margin: 0;
  padding: 0; }

header {
  height: 36px;
  background: #333;
  line-height: 36px;
  color: #ccc; }
  header .declaration {
    float: left; }
  header .annunciate {
    text-decoration: underline;
    padding: 0 0 0 26px;
    float: left;
    color: #b4a078;
    margin-left: 30px;
    background: url(../imgs/d132c2561f18f1149d566a60d05fd9b7.gif) no-repeat left; }
  header ul {
    float: right; }
    header ul li {
      float: left;
      font: 12px/36px ""; }
      header ul li a {
        color: #ccc;
        margin: 0 9px 0 9px; }
      header ul li a:hover {
        color: #fff; }
      header ul li .ser {
        position: relative;
        display: inline-block;
        text-align: left;
        width: 74px; }
        header ul li .ser i {
          display: block;
          width: 11px;
          height: 5px;
          float: right;
          margin-top: 15px;
          background: url(../imgs/arrow-s7d11d02b7b-5b15937de6.png) no-repeat 0px -468px; }
      header ul li .ser:hover i {
        background: url(../imgs/arrow-s7d11d02b7b-5b15937de6.png) no-repeat 0px -137px; }
      header ul li .APP {
        position: relative;
        display: inline-block;
        text-align: right;
        width: 60px; }
        header ul li .APP i {
          float: left;
          margin-top: 12px;
          display: block;
          width: 7px;
          height: 11px;
          background: url(../imgs/phone-sd34da433ab-a6dc8a7c80.png) no-repeat 0 -36px; }
        header ul li .APP .ewm {
          display: none;
          position: absolute;
          top: 36px;
          left: -20px; }
          header ul li .APP .ewm img {
            display: block; }
          header ul li .APP .ewm span {
            display: block;
            font: 9px/12px "";
            color: #999;
            text-align: center; }
      header ul li .APP:hover .ewm {
        display: block; }

nav .nav_top {
  position: relative;
  height: 150px; }
  nav .nav_top .logogif {
    display: block;
    position: absolute;
    left: 308px; }
  nav .nav_top .inputtext {
    float: right;
    height: 32px;
    width: 254px;
    font: 12px/22px "";
    padding: 0 10px 0 10px;
    border: none;
    border-bottom: 1px solid #d8cebc;
    margin-top: 75px; }
  nav .nav_top .btn {
    margin-top: 85px;
    border: none;
    float: right;
    display: block;
    height: 20px;
    width: 20px;
    background: url(../imgs/header-secaaba58c8-8345a4ea93.png) no-repeat 0 -145px; }
  nav .nav_top .btn:hover {
    background: url(../imgs/header-secaaba58c8-8345a4ea93.png) no-repeat 0 -114.5px; }
  nav .nav_top .shoppingcart {
    position: relative;
    margin: 85px 0 0 25px;
    float: right;
    display: block;
    height: 34px;
    width: 34px; }
    nav .nav_top .shoppingcart .cartimg {
      display: block;
      width: 23px;
      height: 23px;
      background: url(../imgs/cart-s60a1b1ed02-d4fba8a49b.png) no-repeat 0 -33px; }
    nav .nav_top .shoppingcart .numimg {
      position: absolute;
      left: 14px;
      top: -10px;
      display: block;
      width: 19px;
      height: 19px;
      background: url(../imgs/icon-normal-s69871fd5de-f1a3de01b3.png) no-repeat 0 -264px; }
nav .nav_bottom {
  height: 54px; }
  nav .nav_bottom .list {
    width: 100%;
    height: 100%;
    background: #ccc; }
    nav .nav_bottom .list .item {
      font: 700 13px/14px "";
      float: left;
      margin: 20px 30px;
      position: relative; }
      nav .nav_bottom .list .item a {
        color: #000; }
      nav .nav_bottom .list .item .home {
        display: none;
        background: #fff;
        position: absolute;
        left: -116px;
        top: 34px; }
        nav .nav_bottom .list .item .home .homelist {
          width: 1090px; }
          nav .nav_bottom .list .item .home .homelist .list1 {
            float: left;
            width: 154px; }
            nav .nav_bottom .list .item .home .homelist .list1 a {
              display: block;
              margin: 45px 55px; }
              nav .nav_bottom .list .item .home .homelist .list1 a img {
                display: block; }
              nav .nav_bottom .list .item .home .homelist .list1 a p {
                text-align: center;
                margin-top: 10px; }
            nav .nav_bottom .list .item .home .homelist .list1 a:hover p {
              color: #b4a078; }
    nav .nav_bottom .list .item:hover {
      border-bottom: 2px solid #b4a078; }
      nav .nav_bottom .list .item:hover .itemname {
        color: #b4a078; }
      nav .nav_bottom .list .item:hover .home {
        display: block; }

.title {
  height: 55px; }
  .title h2 {
    font: 700 27px/55px "";
    float: left; }
  .title span {
    font: 12px/36px "";
    margin: 19px 0 0 17px;
    float: left; }
  .title a {
    font: 12px/36px "";
    margin-top: 19px;
    float: right;
    color: #000000; }

.manufacturer {
  display: flex;
  justify-content: space-between; }
  .manufacturer div {
    height: 320px;
    width: 372px; }
  .manufacturer .man3 {
    display: flex;
    flex-direction: column;
    align-content: space-between; }
    .manufacturer .man3 img {
      height: 155px;
      width: 372px; }

/*# sourceMappingURL=index.css.map */
